<!-- organization/templates/organization/partials/actions.html -->

{% load static %}
<div class="btn-group" role="group" aria-label="Actions">
    {# if perms.organization.change_organization #}
        <a href="{% url 'organization_edit' record.slug %}" class="btn btn-sm btn-primary" title="Edit">
            <i class="fa fa-pencil-alt"></i>
        </a>
    {# endif #}
    {# if perms.organization.delete_organization #}
        <a href="{% url 'organization_delete' record.slug %}" class="btn btn-sm btn-danger" title="Delete">
            <i class="fa fa-trash"></i>
        </a>
    {# endif #}
</div>
